# üçú Ramen Ratings ‚Äì Exploratory Data Analysis

## üìå Introduction

## üéØ Objectives
The main goals of this analysis are:
- To understand the structure of the dataset (features, data types, missing values).
- To explore the distribution of ratings and identify popular brands/styles.
- To compare ramen preferences across different countries.
- To uncover interesting trends, such as the highest-rated ramen brands and styles.

## üìÇ Dataset Overview

The dataset typically includes the following columns:

## üîß Setup
In this section, we will import the necessary Python libraries for data analysis and visualization.

In [3]:
# Import core libraries
import pandas as pd
import numpy as np

# Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

## üìÇ Load Dataset

In this step, we will load the **Ramen Ratings dataset** into a pandas DataFrame.

In [ ]:
# Load dataset (make sure ramen-ratings.csv is in your working directory)
df = pd.read_csv("ramen-ratings.csv")

# Preview first 5 rows
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN